@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
:root {
    font-family: 'Rubik', sans-serif;
}

html {
    width: 100wh;
    height: 100vh;
}


.clock-section {
    display: flex;
    justify-content: center;
}